services:
  migrate:
    image: ghcr.io/astral-sh/uv:python3.13-trixie-slim
    working_dir: /app
    volumes:
      - ./:/app
      - ./db.sqlite3:/app/db.sqlite3
    environment:
      - PYTHONUNBUFFERED=1
    command: >
      sh -c "uv sync && uv run python manage.py migrate"
    restart: "no"

  web:
    image: ghcr.io/astral-sh/uv:python3.13-trixie-slim
    working_dir: /app
    volumes:
      - ./:/app
      - ./db.sqlite3:/app/db.sqlite3
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8085:8000"
    command: >
      sh -c "uv sync && uv run python manage.py runserver 0.0.0.0:8000"
    depends_on:
      migrate:
        condition: service_completed_successfully
