[Unit]
Description=LAST Hub
After=network.target

[Service]
Type=simple
User=ocs
WorkingDirectory=/home/ocs/python/LAST-hub
ExecStart=/usr/bin/node /home/ocs/python/LAST-hub/index.js
Restart=on-failure
Environment=http_proxy=http://bcproxy.weizmann.ac.il:8080
Environment=https_proxy=http://bcproxy.weizmann.ac.il:8080
Environment=no_proxy=localhost,127.0.0.1
Environment=NODE_ENV=production
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
