{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}My Project{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{% static 'icons/hub.png' %}">
  <link
    rel="stylesheet"
    href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
  >

  <link
    rel="stylesheet"
    href="{% static 'hub/css/app.css' %}"
  >

  {% block extra_head %}{% endblock %}
</head>

<body>

<div class="layout">
  {% block sidebar %}
    {# default: no sidebar #}
  {% endblock %}

  <main class="content">
    {% block content %}{% endblock %}
  </main>
</div>

</body>
</html>
